//*-*-*-*-*-*-*-*-*-*-- The 1300px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-desktop {
  @media screen and (min-width: break-point(break-point-desktop)) {
    @content;
  }
}

//*-*-*-*-*-*-*-*-*-*-- The 800px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-tablet {
  @media screen and (max-width: break-point(break-point-tablet)) {
    @content;
  }
}

//*-*-*-*-*-*-*-*-*-*-- The 600px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-medium {
  @media screen and (min-width: break-point(break-point-medium)) {
    @content;
  }
}

//*-*-*-*-*-*-*-*-*-*-- The 400px Mark Break Point*-*-*-*-*-*-*-*-*-*-*
@mixin media-small {
  @media screen and (max-width: break-point(break-point-small)) {
    @content;
  }
}

%button {
  border-radius: 1.2rem;
  border: 0.2rem solid;
  width: calc(11rem + 3vw);
  height: calc(5rem + 0.5vh);
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
}

@import "1.reset";
@import "2.variables";
@import "3.utilities";
@import "4.section1";
@import "5.section2";
@import "6.section3";
